#calculator {
	clear: both;
	margin-top: 200px;
	margin-left: 500px;
	width:240px;
	height:240px;
	background-color:#e6f2f2;
	
}
.number{
	color:#1f1c10;
	margin-left: 10px;
	width: 30px;
	height: 20px;
	padding: 10px;
	float: left;
	text-decoration:none;
}
/*#middle {
	width: 900px;
	margin; auto;
	


}











a:link{
color:#000000;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
a:visited{
color:#000000;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
a:active{
color:#0066FF;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
a:hover{
color:#993300;
text-decoration:none;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
/*

