{% extends 'main.html' %}
{% block content %}


	<div id="calculator">
			<a class="number" href="">1</a>
			<a class="number" href="">2</a>
			<a class="number" href="">3</a>
			<a class="number" href="">4</a>
			<a class="number" href="">5</a>
			<a class="number" href="">6</a>
			<a class="number" href="">7</a>
			<a class="number" href="">8</a>
			<a class="number" href="">9</a>
			<a class="number" href="">0</a>
			<a class="number" href="">.</a>
			<a class="number" href="">+</a>
			<a class="number" href="">-</a>
			<a class="number" href="">%</a>
			<a class="number" href="">*</a>
			<a class="number" href="">=</a>
		<form>
			<input type="text">
			<h5 align="center"><input type="submit" value="HESAPLA"></h1>
		</form>
	</div>
{% endblock %}