<div id="header">
	<div id="header-top">
		<div id="logo"></div>
		<div id="social">
			<h3>bizi takip edin</h3>
			<a href="#"><span class="icon-facebook"></span></a>
			<a href="#"><span class="icon-twitter"></span></a>
			<a href="#"><span class="icon-instagram"></span></a>
			
		</div>
	</div>
	<div id="navigation">
		<a href="#" class="link_1"><span class='icon-newspaper'></span> HAKKIMIZDA</a>
		<a href="">|</a>
		<a href="#"><span class='icon-qrcode'></span>KAZANCI HOLDING</a>
		<a href="">|</a>
		<a href="#"><span class='icon-lightbulb link_1'></span>ENERJI SANTRALLERI</a>
		<a href="">|</a>
		<a href="#"><span class='icon-user link_1'></span>İNSAN KAYNAKLARI</a>
		<a href="">|</a>
		<a href="#"> <span class='icon-newspaper link_1'>HABERLER</a>
		<a href=""class="cizgi">|</a>
		<a href="#"><span class='icon-star link_1'>YATIRIMCI</a>
	</div>
</div>
